/*--------------- 
 google fonts
--------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/*---------------- 
 common styles 
---------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/*---------------- 
 Header-section
---------------*/
.top-banner {
  display: flex;
  background-color: #2d25a0;
  width: 1349px;
  height: 677px;
  justify-content: center;
  align-items: center;
}
.banner-title {
  margin: 207px 102px 169px 156px;
}
.heading {
  color: #ffffff;
  font-size: 54px;
  margin-bottom: 27px;
}
.watch-buttton {
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 24px 10px 24px;
}
.fa-arrow-right {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.banner-image img {
  width: 556.01px;
  height: 438px;
  margin: 153px 135px 86px 0;
}
.banner-image img:hover {
  transform: rotate(30deg);
  transition: transform 4s ease-in-out;
}
/*------------------
  players-section 
 --------------- */
.container {
  margin: 70px 150px 165px 150px;
}
.player {
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px 15px 33px 15px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 27px;
}
.player-image img {
  width: 300px;
  height: 256px;
}
.player-info {
  width: 300px;
  height: 154px;
}
.player-name {
  font-size: 28px;
  color: #18191f;
  margin-top: 16px;
  margin-bottom: 10px;
}
.player-details {
  font-size: 16px;
  color: #6c6c6c;
  margin: 0;
}
/* footer-section */
.logo-and-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.football-logo img {
  width: 483.87px;
  height: 110px;
}
.social-icons {
  margin: 20px 0 20px 0;
}
.filled {
  color: #969bab;
  background-color: #0b0d1725;
  border-radius: 50px;
  padding: 9px 8px;
  margin-right: 14px;
}
.copyright {
  font-size: 18px;
  margin-bottom: 63px;
}
/* media queries */
/* mobile-device */
@media only screen and (max-width: 488px) {
main{
  width: 360px;
  height: 7735px;
}
.top-banner{
  width: 360px;
  height: 695px;
  flex-direction: column;
}
.heading{
  font-size: 36px;
  width: 278px;
  height: 138px;
  margin: 0px 66px 50px 16px;
}
.watch-buttton{
  width: 168px;
  height: 44px;
}    
.banner-title{
  width: 278px;
  height: 138px;
}
.banner-image img{
  margin: 50px 16px 62px 16px;
  width: 329px;
  height: 259.17px;
}
.container {
  width: 330px;
}
.players {
  grid-template-columns: repeat(1, 1fr);
  width: 330px;
  margin: 47px 15px 15px 15px;
}
.player {
  flex-direction: column;
  width: 330px;
  height: 474px;
}